@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.header {
    position: relative;
}

.image {
    margin-top: 90px;
    margin-left: 540px;
    border-bottom: 1px solid #000;
    max-width: 500px;
    max-height: 200px;
    padding-bottom: 20px;
}

.image img {
    height: 8rem;
    width: 8rem;
}

.image h3 {
    font-size: 1.76rem;
    display: inline;
    position: absolute;
    font-family: "Poppins", sans-serif;
    padding-top: 40px;
    padding-left: 20px;
}

.image p {
    font-size: 1.10rem;
    display: inline;
    position: absolute;
    padding-top: 75px;
    padding-left: 20px;
}

.about {
    position: absolute;
    margin-left: 540px;
    margin-top: 40px;
}

.about h2 {
    font-family: sans-serif;
}

.about p {
    padding-top: 10px;
    width: 500px;
    font-size: 16px;
}

.project {
    position: absolute;
    margin-left: 540px;
    margin-top: 200px;
}

.project h2 {
    font-family: sans-serif;
}

.project ul {
    margin-top: 10px;
}

.project ul li {
    margin-top: 5px;
}

.contact {
    position: absolute;
    margin-left: 540px;
    margin-top: 385px;
}

.contact h2 {
    font-family: sans-serif;
    padding-bottom: 10px;
}

.contact a img {
    position: relative;
    bottom: 35px;
    left: 380px;
}

.contact img {
    width: 25px;
    height: 25px;
}

footer {
    height: 11vh;
    margin: 1rem;
    display: none;
}

footer p {
    position: relative;
    text-align: center;
    top: 440px;
    left: 50px;
    letter-spacing: 0.1px;
    font-family: "Poppins";
}